<div>
    <div class="row mb-3 equipment-row">
        <div class="col-8">
            <select class="form-select" id="equipment">
                <option selected value="">Select Equipment Type</option>
                {% for key, value in equipmentTypes.items() %}
                    <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select class="form-select" id="quantity">
                <option selected value="">Qty</option>
                {% for i in range(1,11) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <h2>Rates</h2>
    <div class="row mb-3">
        <div class="col input-group">
            <span class="input-group-text d-none d-md-block">$</span>
            <input type="text" class="form-control" placeholder="Day" aria-label="Day Rate">
        </div>
        <div class="col input-group">
            <span class="input-group-text d-none d-md-block">$</span>
        <input type="text" class="form-control" placeholder="Week" aria-label="Week">
        </div>
        <div class="col input-group">
            <span class="input-group-text d-none d-md-block">$</span>
        <input type="text" class="form-control" placeholder="4 Week" aria-label="4 Week">
        </div>
    </div>
</div>