<form id="pills-move" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-move-tab" method="post" hx-post="{{url_for('newMove')}}" hx-swap="outerHTML">
    {% if moveForm.errors %}
        <ul class="errors">
            {% for field_name, field_errors in moveForm.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ moveForm[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    {{moveForm.csrf_token}}
    <div class="row mb-3">
        <div class="col">
            {{moveForm.customer.label(class_="col-12")}}
            {{moveForm.customer(class="col-12 form-select", **{"hx-get":url_for('locations'),"hx-target":"#location-select-here", "hx-swap":"innerHTML" , "onchange":"customerchange()"}) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {{moveForm.date.label(class="col-12")}}
            {{moveForm.date(class="col-6 form-control")}}
        </div>
        <div class="col-6">
            {{moveForm.equipment.label(class="col-12")}}
            {{moveForm.equipment(class="col-12 form-control")}}
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            <div id="location-select-here">
                <select class="form-select mb-3" id="pickup-location" onchange="openNewLocationModal()">
                    <option selected value="">Select Location</option>
                    <option value="add" id="newlocationoption" hidden>+ New Location</option>
                </select>
                <button hx-get="{{url_for('locationModal')}}" hx-target="#modals-here" hx-trigger="click" hx-swap="innerHTML" hx-include="#customer-select" data-bs-toggle="modal" data-bs-target="#modals-here" hidden id="newlocationbutton">click</button>
            </div>
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            <div id="location-select-here">
                <select class="form-select mb-3" id="dropoff-location" onchange="openNewLocationModal()">
                    <option selected value="">Select Location</option>
                    <option value="add" id="newlocationoption" hidden>+ New Location</option>
                </select>
            </div>
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.requestor.label(class="col-12")}}
            {{moveForm.requestor(class="col-12 form-control")}}
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.notes.label(class="col-12")}}
            {{moveForm.notes(class="col-12 form-control")}}
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="col col-md-8 col-sm-6">
            <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
    </div>
</form>
<script>
    htmx.on("#customer", "htmx:before-request", function(elt) {
        if (document.getElementById('customer').value == "add") {
            elt.preventDefault()
            openNewCustomerModal()
        }
    })
    function openNewLocationModal() {
        if (document.getElementById('pickup-location').value == "add" || document.getElementById('dropoff-location').value == "add") {
            document.getElementById('newlocationbutton').click()
            document.getElementById('pickup-location').value = ""
        }
    }
    function customerchange() {
        if (document.getElementById('customer').value == "add") {
            document.getElementById('newcustomerbutton').click()
        }
        else if (document.getElementById('customer').value != "") {
            document.getElementById("newlocationoption").removeAttribute("hidden")
        }
        else if (document.getElementById('customer').value == "") {
            document.getElementById("newlocationoption").setAttribute("hidden", true)
        }
    }
</script>