<form id="pills-move" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-move-tab" method="post" hx-post="{{url_for('newMove')}}" hx-swap="outerHTML">
    {% if moveForm.errors %}
        <ul class="errors">
            {% for field_name, field_errors in moveForm.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ moveForm[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    {{moveForm.csrf_token}}
    <div class="row mb-3">
        <div class="col">
            {{moveForm.customer.label(class_="col-12")}}
            {{moveForm.customer(class="col-12 form-select", **{"hx-get":url_for('locations'), "hx-target":"#pickup", "hx-swap":"innerHTML" }) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {{moveForm.date.label(class="col-12")}}
            {{moveForm.date(class="col-6 form-control")}}
        </div>
        <div class="col-6">
            {{moveForm.equipment.label(class="col-12")}}
            {{moveForm.equipment(class="col-12 form-control")}}
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.pickup.label(class="col-12")}}
            {{moveForm.pickup(class="col-12 form-control")}}
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.delivery.label(class="col-12")}}
            <div id="delivery-clone"></div>
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.requestor.label(class="col-12")}}
            {{moveForm.requestor(class="col-12 form-control")}}
        </div>
    </div>
    <div  class="row justify-content-center" style="margin-bottom: 10px;">
        <div class="col-12">
            {{moveForm.notes.label(class="col-12")}}
            {{moveForm.notes(class="col-12 form-control")}}
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="col col-md-8 col-sm-6">
            <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
    </div>
</form>
<script>
    htmx.on("#customer", "htmx:before-request", function(elt) {
    if (document.getElementById('customer').value == "add") {
        elt.preventDefault()
        openNewCustomerModal()
    }
    })
    htmx.on("#customer", "htmx:after-request", function() {
        copynode();
    })

    function copynode() {
        const node = document.getElementById("pickup")
        const target = document.getElementById("delivery-clone")
        const clonednode = node.cloneNode(true)
        clonednode.id = "delivery"
        clonednode.name = "delivery"
        target.appendChild(clonednode)
    }
</script>