<div class="modal-dialog modal-dialog-centered" tabindex="-1" id="newcustomermodal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="newCustomerClose()"></button>
            </div>
            <div class="modal-body">
                <form id="newcustomerform" class="needs-validation" hx-post="{{url_for('customerModal')}}" hx-target="#newcustomermodal" hx-swap="outerHTML">
                        {{newcustomerform.csrf_token}}
                    <div class="mb-3">
                        {{newcustomerform.name.label(class="col-12 form-label")}}
                        {{newcustomerform.name(class="col-12 form-control")}}
                    </div>
                    <div class="mb-3">
                        {{newcustomerform.address.label(class="col-12 form-label")}}
                        {{newcustomerform.address(class="col-12 form-control")}}
                    </div>
                    <div class="mb-3">
                        {{newcustomerform.phone.label(class="col-12 form-label")}}
                        {{newcustomerform.phone(class="col-12 form-control")}}
                    </div>
                    <div class="mb-3">
                        {{newcustomerform.email.label(class="col-12 form-label")}}
                        {{newcustomerform.email(class="col-12 form-control")}}
                        
                    </div>
                    <div class="mb-3">
                        {{newcustomerform.contactName.label(class="col-12 form-label")}}
                        {{newcustomerform.contactName(class="col-12 form-control")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="newcustomerform" class="btn btn-primary">Save</button>
            </div>
        </div>
</div>