<form id="pills-rental" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-rental-tab" method="post" hx-post="{{url_for('newRental')}}" hx-swap="outerHTML" >
    <div class="row mb-3">
        <div class="col">
            {{form.csrf_token}}
            {{form.customer.label(class_="col-12")}}
            {{form.customer(class="col-12 form-select", **{"hx-get":url_for('locations'),"hx-target":"#location-select-here", "hx-swap":"innerHTML" , "onchange":"customerchange()"}) }}
            <button hx-get="{{url_for('customerModal')}}" hx-target="#modals-here" hx-trigger="click" hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#modals-here" hidden id="newcustomerbutton">click</button>
        </div>
        </div>
    </div> 
    <div class="row mb-3">
        <div class="col">
            {{form.location.label(class="col-12")}}
            <div id="location-select-here">
                <select class="form-select mb-3" id="rental-location" onchange="openNewLocationModal()">
                    <option selected value="">Select Location</option>
                    <option value="add" id="newlocationoption" hidden>+ New Location</option>
                </select>
                <button hx-get="{{url_for('locationModal')}}" hx-target="#modals-here" hx-trigger="click" hx-swap="innerHTML" hx-include="#customer-select" data-bs-toggle="modal" data-bs-target="#modals-here" hidden id="newlocationbutton">click</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="equipmentsection" hx-get="{{url_for('equipmentTypeSection')}}" hx-swap="innerHTML" hx-trigger="load"></div>
    </div>
    <button type="button" class="btn btn-outline-secondary" hx-target=".equipmentsection" hx-swap="beforeend" hx-get="{{url_for('equipmentTypeSection')}}">+ Add Equipment</button>
    <hr>
    <div class="row mb-3">
        <div class="col">
            {{form.start_date.label(class="col-12")}}
            {{form.start_date (class="form-control")}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{form.delivery.label(class="col-12 form-label")}}
            <div class="input-group">
                <span class="input-group-text">$</span>
                {{form.delivery (class="form-control", **{"aria-label":"Delivery Rate"})}}
            </div>
        </div>   
        <div class="col">
            {{form.delivery_return.label(class="col-12 form-label")}}
            <div class="input-group">
                <span class="input-group-text">$</span>
                {{form.delivery (class="form-control", **{"aria-label":"Return Rate"})}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-3" id="fuelSelection">
        <div class="col">
            <div class="form-check form-switch d-flex align-items-center">
                {{form.fill_on_return (class="form-check-input me-3", **{"role":"switch", "checked":"True"})}}
                {{form.fill_on_return.label(class="form-check-label")}}
            </div>
        </div>
        <div class="col">
            {{form.prepay_fuel.label(class="form-label")}}
            <div class="input-group">
                <span class="input-group-text">$</span>
                {{form.prepay_fuel (class="form-control", **{"aria-label":"Fuel", "disabled":"True"})}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col mb-3">
            <div class="form-check form-switch d-flex align-items-center">
                {{form.environmental (class="form-check-input me-3", **{"role":"switch", "checked":"True"})}}
                {{form.environmental.label(class="form-check-label")}}
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch d-flex align-items-center">
                {{form.insurance (class="form-check-input me-3", **{"role": "switch"})}}
                {{form.insurance.label(class="form-check-label")}}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{form.po.label(class="form-label")}}
            {{form.po (class="form-control", **{"placeholder": "Purchase Order"})}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{form.notes.label(class="form-label")}}
            {{form.notes (class="form-control", **{"rows": "3"})}}
        </div>
    </div>
    {% if form.errors %}
        <div class="row">
            <ul class="errors">
            {% for error in form.errors %}
            <span class="badge text-bg-danger">Error</span>
            <li class="text-danger">{{error}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="mb-3 row justify-content-center">   
        <div class="col">
            <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>    
    </div>
</form>
<script>
    htmx.on("#fuelswitch", "click", function() {
        if (document.getElementById('fuelswitch').checked == true) {
            document.getElementById('fuelprice').setAttribute('disabled', true)
        }else {
            document.getElementById('fuelprice').removeAttribute('disabled')
            document.getElementById('fuelprice').value = "0"
        }
        })
    htmx.on("#customer", "htmx:before-request", function(elt) {
        if (document.getElementById('customer').value == "add") {
            elt.preventDefault()
            openNewCustomerModal()
        }
    })
    function openNewLocationModal() {
        if (document.getElementById('rental-location').value == "add") {
            document.getElementById('newlocationbutton').click()
            document.getElementById('rental-location').value = ""
        }
    }
    function customerchange() {
        if (document.getElementById('customer').value == "add") {
            document.getElementById('newcustomerbutton').click()
        }
        else if (document.getElementById('customer').value != "") {
            document.getElementById("newlocationoption").removeAttribute("hidden")
        }
        else if (document.getElementById('customer').value == "") {
            document.getElementById("newlocationoption").setAttribute("hidden", true)
        }
    }
</script>