<form id="pill-service" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-service-tab" method="post" action="{{url_for('newRepair')}}">
    <h2>New Service</h2>
    <select class="form-select mb-3" id="customer" onchange="customerChange()">
        <option selected value="">Select Customer</option>
        <option value="add">+ New Customer</option>
        {% for key, value in customers.items() %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    <div class="justify-content-center" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary col-12">Submit</button>
    </div>
</form>