{% extends 'base.html' %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dispatchstyle.css') }}">
{% endblock %}
{% block head_javascript %}
{{ super() }}
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script src="{{url_for('static', filename='node_modules/sortablejs/sortable.min.js')}}"></script>
{% endblock %}
{% block content %}
<div id="dispatch-container" class="row justify-content-evenly" hx-get="{{url_for('dispatchItems')}}" hx-trigger="load" hx-swap-oob="true" hx-select="#column-pending" hx-select-oob="column-dispatched" hx-target="#column-pending">
    
    <form class="col card container justify-content-space-evenly " id="pending" style="min-height: 90vh;" hx-swap-oob="true">
        <div class="row">
            <h2>Pending</h2>
            <div class="htmx-indicator">Updating...</div>
        </div>
        <div id="column-pending" hx-swap-oob="true"></div>
    </form>
    <form class="col card">
        <h2>Scheduled</h2>
        <div class="htmx-indicator">Updating...</div>
        <div id="column-dispatched" hx-swap-oob="true"></div>
    </form>
    <form class="col card" id="onrent">
        <h2>On Rent</h2>
        <div class="htmx-indicator">Updating...</div>
        <div id="column-onrent" hx-swap-oob="true"></div>
    </form>
</div>
<!-- <script>
    htmx.onLoad(function() {
        var sortables = document.querySelectorAll('.sortable');
        for(var i  = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            var sortableInstance = new Sortable(sortable, {
                animation: 150,
                group: 'shared',
                ghostClass: 'blue-background-class',
                filter: ".htmx-indicator",
                onMove: function(evt) {
                    return evt.related.className.indexOf('htmx-indicator') === -1;
                },
                onEnd: function(evt) {
                    this.option("disabled", true);
                }
            });
            sortable.addEventListener("htmx:afterSwap", function() {
                sortableInstance.option("disabled", false);
            });
        }
    })
</script> -->
{% endblock %}