{% extends 'base.html' %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dispatchstyle.css') }}">
{% endblock %}
{% block head_javascript %}
{{ super() }}
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script src="{{url_for('static', filename='node_modules/sortablejs/sortable.min.js')}}"></script>
{% endblock %}
{% block content %}
<div id="container" class="justify-content-evenly">
    
    <form class="col card sortable" id="pending" hx-post="{{url_for('dispatchItems')}}" hx-trigger="end" style="min-height: 80vh;">
        <h2>Reserved</h2>
        <div class="htmx-indicator">Updating...</div>
        {% for key, value in samples.items() %}
            <div><input type='hidden' name='item' value='{{value}}'/>{{key}}</div>
        {% endfor %}
    </form>
    <form class="col card sortable" id="dispatch">
        todays todo
    </form>
    <form class="col card sortable" id="onrent">
        on rent
    </form>
</div>
<script>
    htmx.onLoad(function() {
        var sortables = document.querySelectorAll('.sortable');
        for(var i  = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            var sortableInstance = new Sortable(sortable, {
                animation: 150,
                group: 'shared',
                ghostClass: 'blue-background-class',
                filter: ".htmx-indicator",
                onMove: function(evt) {
                    return evt.related.className.indexOf('htmx-indicator') === -1;
                },
                onEnd: function(evt) {
                    this.option("disabled", true);
                }
            });
            sortable.addEventListener("htmx:afterSwap", function() {
                sortableInstance.option("disabled", false);
            });
        }
    })
</script>
{% endblock %}