{% extends 'base.html' %}
{% block content %}
<style>input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 2;
    
}</style>
<div class="container">
    <h2>New Order</h2>
    <select class="form-select mb-3" id="customer" onchange="customerChange()">
        <option selected value="">Select Customer</option>
        <option value="add">+ New Customer</option>
        {% for key, value in customers.items() %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    <div id="tabs-container">
        <ul class="nav nav-pills justify-content-center mb-3" id="pill-tab" role="tablist" hx-target="#tab-contents" hx-on:htmx-after-on-load="formChange(event.target)">
            <li class="nav-item" role="presentation">
                <button role="tab" aria-controls="tab-contents" type="button" data-bs-toggle="pill"  data-bs-target="#pills-rental" aria-selected="true" class="nav-link active selected" id="pills-rental-tab" hx-get="{{url_for('newRental')}}">Rental</button>
            </li>
            <li class="nav-item" role="presentation">
                <button role="tab" aria-controls="tab-contents" type="button" data-bs-toggle="pill"  data-bs-target="#pills-move" aria-selected="false" class="nav-link" id="pills-move-tab" hx-get="{{url_for('newMove')}}">Move</button>
            </li>
            <li class="nav-item" role="presentation">
                <button role="tab" aria-controls="tab-contents" type="button" data-bs-toggle="pill"  data-bs-target="#pills-service" aria-selected="false" class="nav-link" id="pills-service-tab" hx-get="{{url_for('newRepair')}}">Service</button>
            </li>
        </ul>
        <div class="tab-contents" id="tab-contents" role="tabpanel" hx-get="{{url_for('newRental')}}" hx-trigger="load"> 
        </div>
    </div>
{% include 'modals_and_forms/newlocation.html' %}
{% include 'modals_and_forms/newcustomer.html' %}

</div>
<script src="{{url_for('static', filename='js/orders.js')}}"></script>
{% endblock %}